body{
    background-color: #222;
    margin: 2;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20;
    background-color: #171616;
    height: 650px;
    width: 450px;
    border: 0px;
}
button{
    height: 100px;
    width: 112.5px;
    border-radius: 100%;
    font-size: xx-large;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
}
#value{
    background-color: rgb(33, 164, 103);
    color: black;
}
#value:hover{
    background-color:  black;
    color:rgb(33, 164, 103);
}
#equalmark{
    height: 212px;
    width: 112.5px;
    border-radius: 50px;
    background-color: yellowgreen;
}
#controllers{
    background-color: rgb(41, 48, 55);
    color: red;
}
#Operators{
    background-color: rgb(23, 17, 42);
    color: aliceblue;
}
#equalmark:hover{
    height: 212px;
    width: 112.5px;
    border-radius: 50px;
    background-color: rgb(17, 90, 28);
}
#controllers:hover{
    background-color: red;
    color: rgb(41, 48, 55);
}
#Operators:hover{
    background-color: rgb(67, 53, 110);
    color: rgb(12, 246, 140);
}
p{
    
    font-weight: bold;
    margin:0;
    padding:0;
    color: antiquewhite;
}
#history{
    font-size: 20px;
}
#currentvalue{
    font-size: 50px;
}
#KEYS{
    height: 100px;
    width: 112.5px;
}
#DisplayRow{
    border: 1px solid black;
    height: 130px;
    width: 100%;
}
#Display{
    border: 5px solid black;
    margin: 2px;
    border-radius: 10px;
    background-color: rgb(54, 57, 56);
}
table{
    border: 8px solid black;
    border-radius: 20px;
}