body{
    background-color: hsl(0, 0%, 50%);
    margin: 0;
    display:grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
table{
    border: 8px solid  hsl(0, 0%, 06%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 06%);
    max-width: 450px;
}
button{
    height: 100px;
    border : none;
    width: 112.5px;
    border-radius: 100%;
    font-size: xx-large;
    font-weight: bold;
    transition-duration: 0.5s;
    cursor: pointer;
    background-color: hsl(88, 80%, 36%);
    color: black;
}
#Operators:hover{
    background-color: hsl(88, 80%, 66%);
}
#Operators:active{
    background-color: hsl(88, 20%, 96%);
}

#equalmark{
    height: 212px;
    width: 112.5px;
    border-radius: 50px;
    background-color: hsl(260, 47%, 35%);
    color: aqua;
}
#equalmark:hover{
    background-color: hsl(260, 47%, 55%);
}
#equalmark:active{
    background-color: hsl(260, 47%, 75%);
}

#controllers{
    background-color: hsl(0, 38%, 25%);
    color: rgb(255, 248, 248);
}
#controllers:hover{
    background-color: hsl(0, 38%, 35%);
}
#controllers:active{
    background-color: hsl(0, 38%, 65%);
}


#value{
    background-color: hsl(175, 30%, 14%);
    color: rgb(255, 248, 248);
}
#value:hover{
    background-color: hsl(175, 42%, 21%);
}
#value:active{
    background-color: hsl(175, 42%, 31%);
}

input{
    background-color: hsl(0, 0%, 20%);
    border :none;
    max-height:100%;
    max-width: 100%;
    color: white;
    text-align: right;
}
#history{
    font-size: 20px;
    width: 98%;
}
#currentvalue{
    font-size: 50px;
}

#Display{
    border: 5px solid black;
    margin: 2px;
    border-radius: 20px;
    background-color: hsl(0, 0%, 20%);
    max-width: 450px;
    height: 130px;
    width: 100%;
}